<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Observação: como alternativa para tratar a edição deste arquivo você pode usar uma 
    ferramenta de administração da web para configurar definições para o seu aplicativo. Use
    a opção Website->Configuração de Asp.Net no Visual Studio.
    Uma lista completa de configurações e comentários pode ser encontrada em 
    machine.config.comments, geralmente localizada em 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>


    <appSettings>
        <add key="URL" value="http://gateway.marvel.com/v1/public/"/>
        <add key="chavePublica" value="CHAVE PÚBLICA" />
        <add key="chavePrivada" value="CHAVE PRIVADA" />
    </appSettings>
    <connectionStrings />
    <system.web>
        <!-- 
            Configure a compilação debug="true" para inserir símbolos 
            de depuração na página compilada. Como isso 
            afeta o desempenho, configure esse valor como true somente 
            durante o desenvolvimento.
        -->
        <compilation debug="true">

        </compilation>
        <!--
      A seção <authentication> permite a configuração 
      do modo de autenticação de segurança usado por 
      ASP.NET para identificar um usuário de entrada. 
    -->
        <authentication mode="Windows" />
        <!--
       A seção <customErrors> permite a configuração 
       do que fazer se/quando ocorrer um erro não tratado 
       durante a execução de uma solicitação. Especificamente, 
       ela permite aos desenvolvedores configurar páginas de erros html 
       para serem exibidas em vez de um rastreamento de pilha de erros.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->



    </system.web>

</configuration>
